h1 {
	text-align: center;
	font-size: 405%; 
	font-style: italic;
	}
	
h2 {
	text-align: left;
	font-size: 310%; 
	color: #000000;
	}
	
h3 {
	text-align: left;
	font-size: 170%;
	color: #ffffff;
	font-style: italic;
}
	
p {
	text-align: left;
	}

.container{
	background: #000000;
	border: 1px solid #000;
}

#header{
	padding-top: 10px;
	font-family: Hobo STD;
	color: #FFFFFF;
	background-color: #4D4949;
	border-top: 1px solid #4D4949;
}

#content{
	background: #f1f1f1;
	padding: 10px 38px 10px 40px;
	border-top: 1px solid #f1f1f1;
}

.footer{
	clear: both;
	padding: 4px 20px;
	color: #BBB;
	font-size: 85%;
	text-align: center;
	background-color: #333;
	border-top: 1px solid #333;
}

#hr1 {
	width:100%;
	background: #DB3F3F;
	border: none;
	height: 2px;
	text-align: center;
	}

